<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram Media Downloader Bot</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Instagram Media Downloader Bot</h1>
            <p>Instagram video ve fotoğraf linkinizi gönderin, hemen indirin!</p>
        </header>

        <section class="instructions">
            <h2>Nasıl Kullanılır?</h2>
            <ul>
                <li>Instagram'dan istediğiniz bir fotoğraf ya da video linkini gönderin.</li>
                <li>Bot, linkinizi analiz ederek uygun medya dosyasını size sunacaktır.</li>
            </ul>
        </section>

        <footer>
            <p>Instagram Downloader Bot © 2024</p>
        </footer>
    </div>
</body>
</html>
